<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<title>Eat a Burger!</title>
    </head>
    <body>
        {{body}}
    </body>
</html>